<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<%= form_for @question, :html => {:multipart => true, :target => "new_target"} do |f| %>
	<!-- <div><%#= f.file_field :photo %></div> -->
	<%= f.text_area :question, :placeholder => "Go ahead and ask a question" %>
	<%= f.submit %>
	<% end %>
</div>
<iframe id="new_target" name="new_target" src="#"></iframe>