<div>
	<%= form_for @question, url: technical_create_path(@question) do |f| %>
	<%= f.text_area :question, :placeholder => "Go ahead and ask a question" %>
	<%= f.submit "Create", :class => "btn btn-info" %>
	<% end %>
</div>


