<h1>Listing articles</h1> <b><%= link_to 'New article', new_article_path %></b>
 <hr/>
<% @articles.each do |article| %>
  <div>
    <h4><%= article.title %></h4>
    <p><%= article.text %></p>
  </div><!-- /.col-lg-4 -->
  <hr/>
<% end %>

<%= paginate @articles %>