<div class="container marketing">
  <div class="row">
      <% @articles[3..-1].each do |article| %>
    <div class="col-lg-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
      <h2><%= article.title %></h2>
      <p class = "box"><%= article.text %></p>
      <p><%= link_to 'View Details', article_path(article), :class => "btn btn-default" %></p>
    </div><!-- /.col-lg-4 -->
    <% end %>
  </div><!-- /.row -->
      </div><!-- /.row -->
