<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<div><b><%= @question.question %></b></div>
<br/>
	<% @answers.each_with_index do |answer,index| %>
	<div class="panel panel-default">
		<%= "#{index + 1}. " %><%= answer.answer %> <%#= link_to "add comment"%><br />
	</div>
	<% end %>
	<%= paginate @answers %>
</div>